.main_content {

  &.mod_1 {
    padding-top: 130px;
  }
}

.section {
  &_title {
    padding: 25px 0 15px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -.3px;
    text-transform: uppercase;

    @include respond-to-min($resp_step_2) {
      padding: 50px 0 40px;
    }
  }

  &_caption-v2 {
    padding: 25px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  }

  &_caption {
    @extend %clearfix;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -.3px;
    text-transform: uppercase;

    @include respond-to-min($resp_step_2) {
      &.caption_v2 {
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 0;
        padding-bottom: 16px;
      }
    }

    .caption_text {
      margin-bottom: 20px;
      padding-right: 20px;
      text-align: left;
      display: block;

      span {
        text-transform: none;
      }

      @include respond-to-min($resp_step_2) {
        &._full_cat {
          margin-top: -10px;
          margin-bottom: -10px;
        }
      }
    }

    .caption_btn {
      //text-transform: none;
      margin-top: -8px;
      margin-bottom: -8px;
      //letter-spacing: -.07em;
    }

    @include respond-to-min($resp_step_2) {
      padding: 25px;
      font-size: 24px;
      line-height: 30px;

      .caption_text {
        float: left;
        margin-bottom: 0;
      }

      .caption_btn {
        float: right;
      }
    }

    &.caption_bg {
      //background-color: #29333d;
      background-color: #ededed;
      position: relative;
      color: #3c3c3c;
    }
  }
}

.text_block {
  padding: 30px 0;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.75);
  }

  .section_inner {
    position: relative;
    z-index: 1;
  }

  p {
    font-size: 16px;
    color: #000;
  }
}

.text_img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  //.backstretch {
  //  &:before {
  //    content: '';
  //    position: absolute;
  //    top: 0;
  //    bottom: 0;
  //    left: 0;
  //    right: 0;
  //    background: rgba(0, 0, 0, .5);
  //  }
  //}
}

.sub_caption_text {
  font-size: 20px;
  //font-weight: bold;
}

.caption_description {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  clear: both;
  text-transform: none;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;

  p {
    margin-top: 20px;
  }

  ul {
    padding-left: 40px;
    list-style: disc;
    padding-bottom: 5px;

    li {
      margin: 20px 0;
    }
  }
}

.how_it_works {
  @include production_check {
    background: url('i/bg_how_it_works_2.jpg') no-repeat 50%;
  }
  @include develop_check {
    background: url('../i/bg_how_it_works_2.jpg') no-repeat 50%;
  }

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;

  &:first-child {
    padding-top: 160px;

    @include respond-to-min($resp_step_2) {
      padding-top: 105px;
    }
  }

  &_steps {
    @extend %clearfix;
    padding-top: 40px;
  }

  &_step {
    min-height: 60px;
    padding: 19px 15px 19px 80px;
    position: relative;
    margin-bottom: 11px;
    background: transparentize(#29333d, .3);

    p {
      line-height: 22px;
      color: #fff;
      font-size: 16px;
    }
  }

  &_icon {
    position: absolute;
    background: #2d3a46;
    top: 0;
    bottom: 0;
    width: 60px;
    left: 0;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 32px;
      height: 32px;
      margin: -16px 0 0 -16px;
    }
  }

  .work_steps_holder {
    @extend %clearfix;
    max-width: 790px;
    margin: 0 auto;
  }

  .work_steps {

    @include respond-to-min($resp_step_3) {
      float: left;
      width: 72.5%;
    }
  }

  .work_step {
    padding: 11px 10px 11px 80px;
    position: relative;
    background: rgba(255, 255, 255, .8);
    color: #3c3c3c;
    font-size: 16px;
    margin-bottom: 14px;

    @include respond-to-min($resp_step_2) {
      padding: 11px 20px 11px 180px;
    }
  }

  .step_icon {
    position: absolute;
    height: 50px;
    line-height: 50px;
    top: 50%;
    margin-top: -25px;
    left: 0;
    width: 60px;
    background: $gl_green;
    text-align: center;

    &:before {
      content: '';
      position: absolute;
      left: 100%;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 10px solid $gl_green;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      line-height: 1;
    }

    @include respond-to-min($resp_step_2) {
      width: 104px;
    }

  }

  .work_steps_form_col {
    padding-bottom: 25px;

    .btn_v2.subscribe_btn {
      margin-top: 14px;
      height: 41px;
      text-transform: uppercase;
    }

    @include respond-to-min($resp_step_3) {
      float: right;
      width: 27.5%;
      padding-left: 14px;
    }
  }

  .work_steps_form {
    padding: 18px 10px;
    margin-top: 55px;
    background: rgba(255, 255, 255, .8);

    .form_label {
      margin-bottom: 1px;
    }

    @include respond-to-min($resp_step_3) {

      .f_input_v1 {
        padding-top: 6px;
        padding-bottom: 6px;
        height: 28px;
      }

      .form_cell.f_cell_v1 {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 5px;
        }
      }
    }
  }

  @include respond-to-min($resp_step_3) {

    .how_it_works_step {
      width: 50%;
      clear: both;
      padding: 19px 45px;

      &:nth-child(even) {
        float: left;
        margin-right: -60px;
        text-align: right;
        padding-left: 15px;

        .how_it_works_icon {
          right: -30px;
          left: auto;
        }
      }

      &:nth-child(odd) {
        float: right;
        margin-left: -60px;
        padding-right: 15px;

        .how_it_works_icon {
          left: -30px;
        }
      }
    }
  }

  @include respond-to-min($resp_step_2 + 100) {

    &_steps {
      margin: 0 -20px;
    }
  }
}

.send_order {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-decoration: none;
  height: 100px;
  padding: 20px 10px 0 85px;
  max-width: 625px;
  width: 100%;
  margin-bottom: 40px;
  text-align: left;

  &:before {
    content: '';
    position: absolute;
    top: 15px;
    bottom: 10px;
    left: 77px;
    width: 1px;
    background: #1c8046;
  }

  &_icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 87px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 47px;
      height: 55px;
      margin: -28px 0 0 -23px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }

  @include respond-to-min($resp_step_4) {
    padding-left: 95px;

    &:before {
      left: 86px;
    }

    p {
      font-size: 26px;
    }

    div {
      font-size: 17px;
    }
  }

  &:hover {

  }
}

.partners_list {
  @extend %clearfix;
  margin-left: -20px;
  padding-bottom: 5px;
  text-align: center;

  li {
    margin: 50px 10px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
  }

  @include respond-to-min($resp_step_2) {
    li {
      margin: 5px 22px 15px;
    }
  }

}

.partner_unit {
  text-align: center;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100px;
  }
}

.review_section {
  position: relative;

  @include production_check {
    background: url('i/reviews_bg_2.jpg') no-repeat 50%;
  }
  @include develop_check {
    background: url('../i/reviews_bg_2.jpg') no-repeat 50%;
  }

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 210px;
  padding-bottom: 25px;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, .75);
  }
}

.review_unit {
  @extend %clearfix;
  color: #fff;
  text-align: center;

  p {
    margin-top: 13px;
    font-size: 13px;
  }

  @include respond-to-min($resp_step_4) {
    text-align: left;
  }
}

.review_author_avatar {
  border-radius: 100%;
  overflow: hidden;
  width: 130px;
  height: 130px;
  display: inline-block;
  vertical-align: top;

  img {
    display: block;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_4) {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
  }
}

.review_author_name {
  padding-right: 50px;
  text-align: right;
}

.slider_holder {
  position: relative;
}

.review_slider {
  padding: 0 50px;
  margin: 0 auto;
  max-width: 780px;

  .slick-slider {
    max-width: 540px;
    margin: 0 auto;
  }

  @include respond-to-min($resp_step_2) {

  }
}

.review_controls {

  .slider_arrow {
    position: absolute;
    bottom: 50%;
    height: 50px;
    margin-bottom: -25px;
    text-align: center;
    cursor: pointer;

    &:before {
      font-size: 36px;
      line-height: 50px;
      color: #fff;
    }
  }

  .slider_prev {
    left: 0;
  }

  .slider_next {
    right: 0;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  @extend %clearfix;

  .slide {
    float: left;
  }
}

.contact_block {
  @extend %clearfix;
  padding-top: 20px;

  @include respond-to-min($resp_step_2) {
    padding-top: 40px;

    ._simple & {
      padding-top: 20px;
    }
  }
}

.contact_info {
  margin-bottom: 25px;
  text-align: center;

  @include respond-to-min($resp_step_2) {
    float: left;
    width: 30%;
    text-align: left;

    ._simple & {
      margin-bottom: 0;
    }
  }
}

.contact_block_logo {
  display: inline-block;
  position: relative;
  line-height: 1;
  z-index: 17;
  margin-bottom: 20px;

  span,
  img {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  span {
    font-size: 15px;
    color: #a7a7a7;
    padding-left: 12px;
    letter-spacing: -.3px;
  }

  @include respond-to-min($resp_step_2) {
    margin-bottom: 50px;
  }
}

.contacts_section {
  @extend %clearfix;
  position: relative;
  background: rgba(0, 0, 0, .9);
  //background: url(../i/contacts_bg.jpg) no-repeat 50%;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  padding-bottom: 25px;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, .75);
  }

  &._simple {
    padding-bottom: 5px;

    .contact_info {
      width: 100%;
    }

    .contact_block_text {

      @include respond-to-min($resp_step_4) {
        float: left;
        padding-right: 20px;
      }

      @include respond-to-min($resp_step_2) {
        text-align: right;
        float: none;
        padding-right: 0;
      }
    }

    .contact_block_btn {

      @include respond-to-min($resp_step_4) {
        float: right;
      }
    }

    .contact_share_block {
      float: right;
      margin-right: -10px;
      text-align: center;
      padding-bottom: 20px;
      padding-top: 25px;

      @include respond-to-min($resp_step_2) {
        //min-width: 25%;
        float: left;
        margin-right: 0;
      }
    }

    .contact_block_questions {
      clear: both;
      margin-top: 10px;

      @include respond-to-min($resp_step_2) {
        width: 30%;
        float: right;
        clear: none;
      }
    }

    .contact_block_logo {
      float: left;
      margin-right: 20px;
    }
  }
}

.contact_share_block {

  > li {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
  }

  .sh_link {
    width: 70px;
    height: 70px;

    &:before {
      font-size: 50px;
      line-height: 70px;
    }
  }

  ._simple & {
    .sh_link {
      width: 40px;
      height: 40px;
      background: none;

      &:before {
        font-size: 34px;
        line-height: 40px;
      }
    }
  }

  .footer_v2 & {
    .sh_link {
      width: 30px;
      height: 30px;
      background: none;

      &:before {
        font-size: 25px;
        line-height: 30px;
      }
    }
  }

  @include respond-to-max($resp_step_2) {

  }
}

.contact_block_questions {
  @extend %clearfix;
  text-align: center;
  margin-top: 20px;

  p {
    margin-bottom: 25px;
    font-size: 18px;
    color: #fff;
  }

  @include respond-to-min($resp_step_2) {
    margin-top: 35px;
  }
}

.contact_block_caption {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact_block_btn {
  display: block;
  height: 65px;
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
  padding: 20px;
  text-align: center;
  text-decoration: none;

  ._simple & {
    height: 38px;
    font-size: 18px;
    padding: 10px;
  }
}

.contact_maps {
  margin-left: -20px;

  li {
    margin-bottom: 25px;
    padding-left: 20px;

    @include respond-to-min($resp_step_4) {
      float: left;
      width: 50%;
    }
  }

  @include respond-to-min($resp_step_2) {
    float: right;
    width: 70%;
  }
}

.contact_map_unit {
  height: 380px;
  border: 1px solid #aaa;
  border-radius: 0 0 10px 10px;
  text-align: center;

  p {
    line-height: 20px;
    font-size: 16px;
    color: #aaa;
    margin-bottom: 10px;

    span, a {
      display: inline-block;
      vertical-align: middle;
    }

  }

  a {
    color: #aaa;
  }

}

.contact_block_addr {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  font-weight: 600;
}

.contact_map {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;

  iframe {
    width: 100% !important;
  }
}
