.footer {
  padding-top: 10px;
  line-height: 100px;
  background: #686151;
  border-bottom: 2px solid #fff;

  .section_inner {
    padding: 0 25px;
  }

  .club & {
    min-height: 300px;
  }
}

.popup {
  background: #f4f4f4;
  padding: 0 20px 20px;
  text-align: center;
  
  p {
    margin-bottom: 20px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, .75);
  display: none;

  .open_menu & {
    display: block;
  }
}

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}
