@import "variables";

@include production_check {
  @font-face {
    font-family: 'cypro_icons';
    src: url('#{$icomoon-font-path}/cypro_icons.eot?yvi0qy');
    src: url('#{$icomoon-font-path}/cypro_icons.eot?yvi0qy#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/cypro_icons.ttf?yvi0qy') format('truetype'),
    url('#{$icomoon-font-path}/cypro_icons.woff?yvi0qy') format('woff'),
    url('#{$icomoon-font-path}/cypro_icons.svg?yvi0qy#cypro_icons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@include develop_check {
  @font-face {
    font-family: 'cypro_icons';
    src: url('../#{$icomoon-font-path}/cypro_icons.eot?yvi0qy');
    src: url('../#{$icomoon-font-path}/cypro_icons.eot?yvi0qy#iefix') format('embedded-opentype'),
    url('../#{$icomoon-font-path}/cypro_icons.ttf?yvi0qy') format('truetype'),
    url('../#{$icomoon-font-path}/cypro_icons.woff?yvi0qy') format('woff'),
    url('../#{$icomoon-font-path}/cypro_icons.svg?yvi0qy#cypro_icons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cypro_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-cross {
  &:before {
    content: $i-cross;
  }
}
.i-phone {
  &:before {
    content: $i-phone;
  }
}
.i-envelope {
  &:before {
    content: $i-envelope;
  }
}
.i-facebook {
  &:before {
    content: $i-facebook;
  }
}
.i-instagram {
  &:before {
    content: $i-instagram;
  }
}
.i-arrow_right {
  &:before {
    content: $i-arrow_right;
  }
}
.i-arrow_left {
  &:before {
    content: $i-arrow_left;
  }
}
.i-info {
  &:before {
    content: $i-info;
  }
}
.i-menu {
  &:before {
    content: $i-menu;
  }
}
.i-help {
  &:before {
    content: $i-help;
  }
}
.i-check {
  &:before {
    content: $i-check;
  }
}
.i-mobile {
  &:before {
    content: $i-mobile;
  }
}

