$icomoon-font-path: "fonts" !default;

$i-cross: "\e907";
$i-phone: "\e900";
$i-facebook: "\e90d";
$i-instagram: "\e902";
$i-right_arrow: "\e01f";
$i-arrow_left: "\e020";
$i-info: "\e915";
$i-menu: "\e908";
$i-help: "\e905";
$i-check: "\e90f";
$i-mobile: "\e901";

