- var offers = ['Кипр','Мальдивы','Маврикий','Сейшелы','США','Япония','Перу','ОАЭ','Вьетнам','Мексика','острова Карибского бассейна', 'Украина'];

include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Отдых на Кипре')
    body.club
        .wrapper
            +header(false, true)

            .base
                div.main_content
                    .how_it_works.section
                        h2.how_it_works_caption.section_caption.caption_v2
                            span.section_inner КАК МЫ РАБОТАЕМ
                        
                        .section_inner: .work_steps_holder
                            ul.work_steps
                                li.work_step
                                    span.step_icon
                                        img(src='i/step_1.png')
                                    p Вы оставляете заявку или звоните
                            
                                li.work_step
                                    span.step_icon
                                        img(src='i/step_2.png')
                                    p Мы вместе выбираем лучший вариант
                            
                                li.work_step
                                    span.step_icon
                                        img(src='i/step_3.png')
                                    p Заключаем с вами договор
                            
                                li.work_step
                                    span.step_icon
                                        img(src='i/step_4.png')
                                    p Мы помогаем вам выбрать билет и оформить визу
                            
                                li.work_step
                                    span.step_icon
                                        img(src='i/step_5.png')
                                    p В назначенное время встречаем вас в аэропорту
                            
                                li.work_step
                                    span.step_icon
                                        img(src='i/step_6.png')
                                    p Мы отправляемся на место проживания
                            
                                li.work_step
                                    span.step_icon
                                        img(src='i/step_7.png')
                                    p Вы комфортно отдыхаете
                            
                            .work_steps_form_col
                                form.validateMe.sendMailForm(action='send.php' method="POST")
                                    .work_steps_form
                                        .form_title.hide Запрос каталога
                                        
                                        .form_cell.f_cell_v1
                                            .form_label
                                                label(for='callback_popup_name') Ваше Имя
                                            .input_w
                                                input#callback_popup_name.f_input_v1(placeholder='Введите Ваше имя' class='validate[required]' name='order_name')
                                            
                                        .form_cell.f_cell_v1
                                            .form_label
                                                label(for='callback_popup_phone') Ваш Телефон
                                            .input_w
                                                input#callback_popup_phone.f_input_v1(placeholder='Введите Ваш телефон' class='validate[required]' name='order_phone' data-inputmask="'mask': '[+38] (999)-999-99-99', 'clearIncomplete': true")
                                            
                                        .form_cell.f_cell_v1
                                            .form_label
                                                label(for='callback_popup_email') Ваша почта
                                            .input_w
                                                input#callback_popup_email.f_input_v1(placeholder='Введите Ваш e-mail' name='order_email' class='validate[required,custom[email]]' data-inputmask="'alias': 'email'")
                        
                                    .form_cell.f_cell_v1
                                        button.btn_v2.green_btn.subscribe_btn Оставить заявку
                                
                            //-.text_center
                                a.send_order.green_btn_2.requestBtn(href='#')
                                    span.send_order_icon
                                        img(src='i/order_icon.png')
                                    p ОСТАВЬТЕ ЗАЯВКУ
                                    div на бесплатную консультацию по бронированию
                                        
                    .partners_section.section
                        .section_inner
                            h2.section_caption-v2
                                span.clr_green Наши партнеры
                                
                            ul.partners_list
                                li
                                    .partner_unit
                                        img(src='i/partner_1.jpg')
                                li
                                    .partner_unit
                                        img(src='i/partner_2.png')
                                li
                                    .partner_unit
                                        img(src='i/partner_3.png')
                                li
                                    .partner_unit
                                        img(src='i/partner_4.jpg')
                                li
                                    .partner_unit
                                        img(src='i/partner_5.jpg')
                                        
                    .review_section.section
                        .section_inner
                            .section_caption-v2
                                span.clr_white КЛИЕНТЫ О НАС
                            .reviewHolder.slider_holder.review_slider
                                .reviewSlider
                                    +loop_while(1)
                                        .slide.review_unit
                                            .review_author_avatar
                                                img(src='i/review/svetlana_chornaya.jpg')
                                                
                                            p Вилла великолепная. Есть всё, чего душа желает. Развлечения тоже совсем рядом. И, конечно же, шикарный бассейн. В общем отдых незабываемый получился.
                                            
                                            .review_author_name Светлана Чорная
                                            
                                        .slide.review_unit
                                            .review_author_avatar
                                                img(src='i/review/artem_snitsar.jpg')

                                            p Вилла очень понравилась. Дом и бассейн убирают регулярно и тщательно. Чистый пляж и невероятная терасса, которая выходит прямо к морю. На следующий год точно еще поедем туда.

                                            .review_author_name Артем Сницар

                                        .slide.review_unit
                                            .review_author_avatar
                                                img(src='i/review/liliya_sheina.jpg')
                                                
                                            p Спасибо большое за прекрасный отдых. Удобное расположение и отличный вид. Квартира полностью удовлетворила наши ожидания, все было чисто и аккуратно. Для ребенка нам предоставили даже детский стульчик.
                                            
                                            .review_author_name Лилия Шеина
                                            
                                        .slide.review_unit
                                            .review_author_avatar
                                                img(src='i/review/dasha_petrenko.jpg')
                                                
                                            p Отдыхала с подружкой 2 недели. Здорово, что картинка полностью соответствовала реальности. Бассейн действительно был огромен!
                                            
                                            .review_author_name Даша Петренко
                                            
                                .review_controls
                                    .slider_arrow.slider_prev.i-arrow_left
                                    .slider_arrow.slider_next.i-arrow_right
                                        
                    //-+contacts_section()
                        
                    +new_footer()

            //-+weather()

            //-+exchange()

        .overlay

        +popup()
       
        +nbl()

    //-+script_js("['js/backstretch.js', 'vendor/fancyBox-master/dist/jquery.fancybox.min.js', 'js/slick.js']", "['js/script.m.js', 'js/index.m.js']")
        
