- var offers = ['Кипр','Мальдивы','Маврикий','Сейшелы','США','Япония','Перу','ОАЭ','Вьетнам','Мексика','острова Карибского бассейна', 'Украина'];

include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Отдых на Кипре')
    body
        .wrapper
            +header()

            .base
                div.main_content
                    .how_it_works
                        h2.how_it_works_caption
                            span.section_inner КАК МЫ РАБОТАЕМ
                        
                        .section_inner
                            ul.how_it_works_steps
                                li.how_it_works_step
                                    p 
                            
                        
                    
                .footer
                    .section_inner.clearfix
                        
        +popup()
    +scripts()
