- var offers = ['Кипр','Мальдивы','Маврикий','Сейшелы','США','Япония','Перу','ОАЭ','Вьетнам','Мексика','острова Карибского бассейна', 'Украина'];

include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Отдых на Кипре')
    body
        #trailer.is_overlay
            video#video(width='100%', height='auto', autoplay='autoplay', loop='loop', preload='auto', src='movie/shutterstock_v9431102.webm') 

        +header()

        .wrapper
            .base
                div.main_content
                    .how_it_works
                        h2.how_it_works_caption
                            span.section_inner КАК МЫ РАБОТАЕМ
                        
                        .section_inner
                            ul.how_it_works_steps
                                li.how_it_works_step
                                    p 
                            
                        
                    
                .footer
                    .section_inner.clearfix
                        .logo_block
                            a.logo(href='#')
                                img(src='i/logo.png')
                                span Традиции и надежность

                        ul.main_menu
                            li.main_m_item
                                dl.contact_phones
                                    dt Украина:
                                    dd +38 (097) 17 11 844
                                    dt Кипр:
                                    dd +35 799 69 55 80
                            li.main_m_item
                                a.callback_btn.btn_v1.btn_blue_transp.callbackBtn(href='#') Заказать звонок
                    
        +popup()
    +scripts()
