- var offers = ['Кипр','Мальдивы','Маврикий','Сейшелы','США','Япония','Перу','ОАЭ','Вьетнам','Мексика','острова Карибского бассейна', 'Украина']; 

include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Отдых на Кипре', true)
    body.club.ov_vis
        .wrapper
            +header(true)

            .base
                div.main_content
                    .main_slider_holder
                        .main_slider.mainSlider_.img_gray_over
                            .slide.BSimg
                                img(src='i/slider/slide_1.jpg')
                                
                            //-.slide
                                img(src='i/slider/slide_2.jpg')
                                
                            //-.slide
                                img(src='i/slider/slide_3.jpg')
                                
                            //-.slide
                                img(src='i/slider/slide_4.jpg')
                                
                        .abs_holder: .gl_table: .gl_table_cell
                            .section_inner
                                .hero_unit
                                    .hero_slogan 2017

                                    .hero_controls
                                        .hero_title_holder
                                            .hero_sub_title: span АРЕНДА НЕДВИЖИМОСТИ НА КИПРЕ
                                            .hero_tip
                                                p для бесплатной консультации по выбору отдыха

                                        .hero_btn_holder
                                            a.green_btn_2.requestBtn.btn_v4.hero_btn(href='#') Оставьте заявку
                                            
                                //-.slide_hero
                                    span.clr_green АРЕНДА НЕДВИЖИМОСТИ  
                                    span  НА КИПРЕ
                                        
                                //-.slide_info_holder 
                                    .slide_info 
                                        .slide_year.clr_green 2017
                                        .slide_features
                                            ul 
                                                li ПРАЗДНОВАНИЕ НОВОГО ГОДА.
                                                li РАННЕЕ БРОНИРОВАНИЕ.
                                                
                                //-.slide_btn
                                    a.send_order.green_btn_2.requestBtn(href='#')
                                        span.send_order_icon
                                            img(src='i/order_icon.png')
                                        p ОСТАВЬТЕ ЗАЯВКУ
                                        div на бесплатную консультацию по бронированию

                    #rent_section.services.section
                        h2.section_title
                            span.clr_green Аренда вилл
                        
                        .section_inner
                            .object_list.objectSlider
                                .slide 
                                    .object_unit
                                        .object_img_loader: a.object_img.objectMain(href='i/vl_888/dining_area_3.jpg' data-fancybox="qw-villa_888" data-qw-form="qw-form-villa_888")
                                            img(src='i/villa/villa_888-1b.jpg')
                                        .hide
                                            a.object_img.objectMain(href='i/vl_888/double_bedroom_3.jpg' data-fancybox="qw-villa_888")
                                            a.object_img.objectMain(href='i/vl_888/double_bedroom_4.jpg' data-fancybox="qw-villa_888")
                                            a.object_img.objectMain(href='i/vl_888/double_bedroom_5.jpg' data-fancybox="qw-villa_888")
                                            a.object_img.objectMain(href='i/vl_888/double_bedroom_7.jpg' data-fancybox="qw-villa_888")
                                            a.object_img.objectMain(href='i/vl_888/ensuite_bathroom_2.jpg' data-fancybox="qw-villa_888")
                                            a.object_img.objectMain(href='i/vl_888/ensuite_bathroom.jpg' data-fancybox="qw-villa_888")
                                            a.object_img.objectMain(href='i/vl_888/guest_toilet_2.jpg' data-fancybox="qw-villa_888")
                                            a.object_img.objectMain(href='i/vl_888/lounge_2.jpg' data-fancybox="qw-villa_888")
                                            a.object_img.objectMain(href='i/vl_888/main_bathroom_2.jpg' data-fancybox="qw-villa_888")
                                            a.object_img.objectMain(href='i/vl_888/main_bathroom_4.jpg' data-fancybox="qw-villa_888")
                                            a.object_img.objectMain(href='i/vl_888/main_bathroom_6.jpg' data-fancybox="qw-villa_888")
                                            a.object_img.objectMain(href='i/vl_888/sea_views_pool_area.jpg' data-fancybox="qw-villa_888")
                                            a.object_img.objectMain(href='i/vl_888/villa_n_2.jpg' data-fancybox="qw-villa_888")
                                            a.object_img.objectMain(href='i/vl_888/villa_n.jpg' data-fancybox="qw-villa_888")
                                           
                                        ul.object_gallery
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_888-1.jpg')
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_888-2.jpg')
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_888-3.jpg')
                                        
                                        .object_caption Вилла VL 888
                                            
                                        .object_tip 100 м от моря, рядом с ресторанами и мини-маркетом. Несколько минут езды до турзоны.
                                        
                                        +object_price() 
                                            ._daily от 950€ в неделю
                                            ._weekly от 615 € в неделю
                            
                                        .object_description: p Вилла прекрасно расположена для спокойного семейного отдыха у моря в районе Айя-Текла. Уютная трехспальная вилла с частным бассейном находится всего в 100 м от моря.  
                                            .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее
                                            
                                        dl.object_features
                                            dt Спален
                                            dd 3
                                            
                                            dt Ванных
                                            dd 3
                                            
                                            dt Максимальное количество человек
                                            dd 6
                                            
                                            dt Ближайший аэропорт
                                            dd Ларнака (45 км)
                
                                .slide 
                                    .object_unit
                                        .object_img_loader: a.object_img.objectMain(href='i/villa/villa_872-1b.jpg' data-fancybox="qw-villa_872" data-qw-form="qw-form-villa_872")
                                            img(src='i/villa/villa_872-1b.jpg')
                                        .hide
                                            a.object_img.objectMain(href='i/villa/villa_872-2b.jpg' data-fancybox="qw-villa_872")
                                            a.object_img.objectMain(href='i/villa/villa_872-3b.jpg' data-fancybox="qw-villa_872")
                                        ul.object_gallery
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_872-1.jpg')
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_872-2.jpg')
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_872-3.jpg')
                                        
                                        .object_caption Вилла VL 872
                                            
                                        .object_tip На пляже, 7 минут езды до центра Ларнаки, рядом рестораны, бары и другие развлечения
                                        
                                        +object_price() 
                                            //-._daily от 1350 € в неделю
                                            ._weekly от 800 € в неделю
                            
                                        .object_description: p Вилла расположена всего в нескольких шагах от моря рядом с минимаркетом, большим количество ресторанов и кафе. В 2х минутах ходьбы есть автобусная остановка Вы можете добраться 
                                            .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее
                                            
                                        dl.object_features
                                            dt Спален
                                            dd 3
                                            
                                            dt Ванных
                                            dd 2
                                            
                                            dt Максимальное количество человек
                                            dd 6
                                            
                                            dt Ближайший аэропорт
                                            dd Ларнака (15 км)
                                            
                                .slide 
                                    .object_unit
                                        .object_img_loader
                                            a.object_img.objectMain(href='i/vl_868/pool_and_garden.jpg' data-fancybox="qw-villa_868" data-qw-form="qw-form-villa_868")
                                                img(src='i/villa/villa_868-1b.jpg')
                                        .hide
                                            a.object_img.objectMain(href='i/vl_868/bathroom_downstairs.jpg' data-fancybox="qw-villa_868")
                                            a.object_img.objectMain(href='i/vl_868/bedroom_2.jpg' data-fancybox="qw-villa_868")
                                            a.object_img.objectMain(href='i/vl_868/dining_table.jpg' data-fancybox="qw-villa_868")
                                            a.object_img.objectMain(href='i/vl_868/garden.jpg' data-fancybox="qw-villa_868")
                                            a.object_img.objectMain(href='i/vl_868/kitchen_pic_2.jpg' data-fancybox="qw-villa_868")
                                            a.object_img.objectMain(href='i/vl_868/kitchen.jpg' data-fancybox="qw-villa_868")
                                            a.object_img.objectMain(href='i/vl_868/lounge.jpg' data-fancybox="qw-villa_868")
                                            a.object_img.objectMain(href='i/vl_868/master_bedroom_pic_1.jpg' data-fancybox="qw-villa_868")
                                            a.object_img.objectMain(href='i/vl_868/pool_2.jpg' data-fancybox="qw-villa_868")
                                            a.object_img.objectMain(href='i/vl_868/pool_area.jpg' data-fancybox="qw-villa_868")
                                            a.object_img.objectMain(href='i/vl_868/villa_and_pool_pic_2.jpg' data-fancybox="qw-villa_868")
                                            
                                        ul.object_gallery
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_868-1.jpg')
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_868-2.jpg')
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_868-3.jpg')
                                        
                                        .object_caption Вилла VL 868
                                            
                                        .object_tip Пляж 200м, Турзона, Курорт, Рядом с ресторанами и барами, Рядом с магазинами
                                        
                                        +object_price() 
                                            ._daily от 1350 € в неделю
                                            ._weekly от 1100 € в неделю
                            
                                        .object_description: p Вилла расположена в районе Каппарис, в Протарасе – идеальном месте для семейного отдыха. Песчаный пляж с кристально чистой водой, а также рестораны бары и магазины находятся на расстоянии 
                                            .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее
                                            
                                        dl.object_features
                                            dt Спален
                                            dd 3
                                            
                                            dt Ванных
                                            dd 3
                                            
                                            dt Максимальное количество человек
                                            dd 8
                                            
                                            dt Ближайший аэропорт
                                            dd Ларнака (65 км)

                                .slide 
                                    .object_unit
                                        .object_img_loader: a.object_img.objectMain(href='i/vl_694/bedroom_1.jpg' data-fancybox="qw-villa_adonis" data-qw-form="qw-form-villa_adonis")
                                            img(src='i/villa/villa_adonis-1b.jpg')
                                        .hide
                                            a.object_img.objectMain(href='i/vl_694/bedroom_3.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/dinning.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/dinning2.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/downstairs_bedroom.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/en-suite_in_bedroom_3.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/en-suite_in_bedroom_4.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/garden_on_the_front.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/guest_toilet.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/lounge.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/pool_and_views.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/sea_view.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/teracce_2.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/terrace_3.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/terrace.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/veranda_and_fruits.jpg' data-fancybox="qw-villa_adonis")
                                            a.object_img.objectMain(href='i/vl_694/bathroom_2.jpg' data-fancybox="qw-villa_adonis")

                                        ul.object_gallery
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_adonis-1.jpg')
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_adonis-2.jpg')
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_adonis-3.jpg')
                                        
                                        .object_caption Вилла Adonis
                                            
                                        .object_tip Рядом с пляжем. До центра Ларнаки 15 минут на машине.
                                        
                                        +object_price() 
                                            //-._daily 23 - 44 € в день с человека
                                            ._weekly от 1250 € в неделю
                            
                                        .object_description: p Идеально подходит для компании друзей или семьи, кто желает отдохнуть в тишине. Вилла полностью кондиционирована и оборудована всем необходимым для Вашего комфортного отдыха. 
                                            .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее
                                            
                                        dl.object_features
                                            dt Спален
                                            dd 4
                                            
                                            dt Ванных
                                            dd 5
                                            
                                            dt Максимальное количество человек
                                            dd 8
                                            
                                            dt Ближайший аэропорт
                                            dd Ларнака (15 км)
                                            
                                .slide 
                                    .object_unit
                                        .object_img_loader: a.object_img.objectMain(href='i/villa/villa_nefeli-1b.jpg' data-fancybox="qw-villa_nefeli" data-qw-form="qw-form-villa_nefeli")
                                            img(src='i/villa/villa_nefeli-1b.jpg')
                                        .hide
                                            a.object_img.objectMain(href='i/villa/villa_nefeli-2b.jpg' data-fancybox="qw-villa_nefeli")
                                            a.object_img.objectMain(href='i/villa/villa_nefeli-3b.jpg' data-fancybox="qw-villa_nefeli")
                                        ul.object_gallery
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_nefeli-1.jpg')
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_nefeli-2.jpg')
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_nefeli-3.jpg')
                                        
                                        .object_caption Вилла Nefeli
                                            
                                        .object_tip Рядом с пляжем. Центр турзоны, пешком до развлечений.
                                        
                                        +object_price() 
                                            ._daily от 3800 € в неделю
                                            ._weekly от 3200 € в неделю
                            
                                        .object_description: p Вилла в 50 метрах от моря на территории которой есть сад, барбекю с барной стойкой и садовая мебель, имеет все необходимое для незабываемого роскошного отдыха. <br> Дом отлично оборудован. 
                                            .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее
                                            
                                        dl.object_features
                                            dt Спален
                                            dd 5
                                            
                                            dt Ванных
                                            dd 6
                                            
                                            dt Максимальное количество человек
                                            dd 10
                                            
                                            dt Ближайший аэропорт
                                            dd Ларнака (15 км)
                                            
                                .slide 
                                    .object_unit
                                        .object_img_loader: a.object_img.objectMain(href='i/villa/villa_larnaca-1b.jpg' data-fancybox="qw-villa_larnaca" data-qw-form="qw-form-villa_larnaca")
                                            img(src='i/villa/villa_larnaca-1b.jpg')
                                        .hide
                                            a.object_img.objectMain(href='i/villa/villa_larnaca-2b.jpg' data-fancybox="qw-villa_larnaca")
                                            a.object_img.objectMain(href='i/villa/villa_larnaca-3b.jpg' data-fancybox="qw-villa_larnaca")
                                        ul.object_gallery
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_larnaca-1.jpg')
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_larnaca-2.jpg')
                                            li: a.object_img.objectThumb(href='#'): img(src='i/villa/villa_larnaca-3.jpg')
                                        
                                        .object_caption Вилла Larnaca Bay 8
                                            
                                        .object_tip Рядом с пляжем. Центр турзоны, пешком до развлечений.
                                        
                                        +object_price() 
                                            //-._daily 22 - 41 € в день с человека
                                            ._weekly от 902 € в неделю
                            
                                        .object_description: p Вилла в 50 метрах от моря на территории которой есть сад, барбекю с барной стойкой и садовая мебель, имеет все необходимое для незабываемого роскошного отдыха. <br>  Дом отлично оборудован. 
                                            .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее
                                            
                                        dl.object_features
                                            dt Спален
                                            dd 3
                                            
                                            dt Ванных
                                            dd 3
                                            
                                            dt Максимальное количество человек
                                            dd 6
                                            
                                            dt Ближайший аэропорт
                                            dd Ларнака (15 км)
                                            
                    h2.how_it_works_caption.section_caption.caption_bg
                        .section_inner
                            //-span.caption_text Получить полный каталог вилл и апартаментов-студий
                            span.caption_text Получить полный каталог вилл и апартаментов-студий

                            a.caption_btn.btn_v3.green_btn_2.requestBtn.text_upper(href='#') каталог

                    .factoid_section.factoidSection
                        .text_img.factoidImg
                            img(src='i/factoid/656621.jpg')

                        .section_inner
                            .factoid_title.text_upper Отдых в арендованном жилье – на прекрасных виллах или в уютных апартаментах
                            .factoid_slider_holder
                                .factoid_slider.factoidSlider
                                    +loop_while(1)
                                        .slide
                                            .factoid_slider_caption.text_upper это прежде всего свобода
                                            p Вы не привязываетесь к расписанию отеля <br> Сможете прочувствовать все разнообразие кипрской жизни, с ее превосходной кухней, множеством достопримечательностей, богатыми культурными традициями и получить гораздо больше интересных впечатлений
                                            
                                        .slide
                                            .factoid_slider_caption.text_upper При аренде на длительный срок Вы сможете сократить расходы в 4 раза!
                                            p Аренда виллы на несколько человек (отдых всей семьей или компанией друзей) позволяет существенно уменьшить расходы на каждого
                                            
                                .factoid_slider_controls
                                    a.btn_v5.green_btn_2.factoid_btn.requestBtn(href='#') Узнать больше

                    .services.section
                        //-.text_block
                            .text_img.BSimg
                                img(src='i/bg/text_bg-3.jpg')
                                
                            .clr_white.service_box
                                h2.how_it_works_caption.section_caption
                                    span.caption_text Отдых в арендованном жилье – на прекрасных виллах или в уютных апартаментах
                                
                                .sub_caption_text - это прежде всего свобода

                                .caption_description
                                    ul
                                        li Вы не привязываетесь к расписанию отеля
                                        li Сможете прочувствовать все разнообразие кипрской жизни, с ее превосходной кухней, множеством достопримечательностей, богатыми культурными традициями и получить гораздо больше интересных впечатлений
                                .sub_caption_text - это уменьшение расходов

                                .caption_description
                                    ul
                                        li Аренда виллы на несколько человек (отдых всей семьей или компанией друзей) позволяет существенно уменьшить расходы на каждого
                                        li При аренде на длительный срок Вы сможете сократить расходы в 4 раза!
                                
                        .section_inner
                            h2.section_title
                                span.clr_green Аренда аппартаментов
                                
                            .object_list.objectSlider
                                +loop_while(1)
                                    .slide 
                                        .object_unit
                                            .object_img_loader: a.object_img.objectMain(href='i/apartments/ap_1126-1b.jpg' data-fancybox="qw-ap_1126")
                                                img(src='i/apartments/ap_1126-1b.jpg')
                                            .hide
                                                a.object_img.objectMain(href='i/apartments/ap_1126-2b.jpg' data-fancybox="qw-ap_1126")
                                                a.object_img.objectMain(href='i/apartments/ap_1126-3b.jpg' data-fancybox="qw-ap_1126")

                                            ul.object_gallery
                                                li: a.object_img.objectThumb(href='#'): img(src='i/apartments/ap_1126-1.jpg')
                                                li: a.object_img.objectThumb(href='#'): img(src='i/apartments/ap_1126-2.jpg')
                                                li: a.object_img.objectThumb(href='#'): img(src='i/apartments/ap_1126-3.jpg')

                                            .object_caption Апартаменты AL 1126
                                                
                                            .object_tip Рядом с пляжем. Центр, рядом с развлечениями.

                                            +object_price() 
                                                ._daily от 600 € в неделю
                                                ._weekly от 300 € в неделю
                                
                                            .object_description: p Апартамент состоит из гостиной, отдельной полностью оборудованой кухни, двух спален и ванной комнаты.  В гостиной для Вас две софы, ТВ с DVD плеером, выход на просторный угловой балкон. 
                                                .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее
                                                
                                            dl.object_features
                                                dt Спален
                                                dd 2
                                                
                                                dt Ванных
                                                dd 1
                                                
                                                dt Максимальное количество человек
                                                dd 4
                                                
                                                dt Ближайший аэропорт
                                                dd Ларнака (10 км)
                                                
                                    .slide 
                                        .object_unit
                                            .object_img_loader: a.object_img.objectMain(href='i/apartments/ap_791-1b.jpg' data-fancybox="qw-ap_791")
                                                img(src='i/apartments/ap_791-1b.jpg')
                                            .hide
                                                a.object_img.objectMain(href='i/apartments/ap_791-2b.jpg' data-fancybox="qw-ap_791")
                                                a.object_img.objectMain(href='i/apartments/ap_791-3b.jpg' data-fancybox="qw-ap_791")
                                            
                                            ul.object_gallery
                                                li: a.object_img.objectThumb(href='#'): img(src='i/apartments/ap_791-1.jpg')
                                                li: a.object_img.objectThumb(href='#'): img(src='i/apartments/ap_791-2.jpg')
                                                li: a.object_img.objectThumb(href='#'): img(src='i/apartments/ap_791-3.jpg')
                                            
                                            .object_caption Апартаменты AL 791
                                                
                                            .object_tip Пляж – 5-10 мин ходьбы. Рядом с магазинами, ресторанами.

                                            +object_price() 
                                                ._daily от 700 € в неделю
                                                ._weekly от 275 € в неделю
                                
                                            .object_description: p Апартамент состоит из гостиной, кухни, ванной комнаты и одной спальни.В гостиной есть мягкая кожаная мебель, ЖК телевизор,  спутниковое телевидение и Интернет, а также выход на балкон.  
                                                .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее
                                                
                                            dl.object_features
                                                dt Спален
                                                dd 1
                                                
                                                dt Ванных
                                                dd 1
                                                
                                                dt Максимальное количество человек
                                                dd 2-3
                                                
                                                dt Ближайший аэропорт
                                                dd Ларнака (10 км)
                                                
                                    .slide 
                                        .object_unit
                                            .object_img_loader: a.object_img.objectMain(href='i/apartments/ap_1073-1b.jpg' data-fancybox="qw-ap_1073")
                                                img(src='i/apartments/ap_1073-1b.jpg')
                                            .hide
                                                a.object_img.objectMain(href='i/apartments/ap_1073-2b.jpg' data-fancybox="qw-ap_1073")
                                                a.object_img.objectMain(href='i/apartments/ap_1073-3b.jpg' data-fancybox="qw-ap_1073")

                                            ul.object_gallery
                                                li: a.object_img.objectThumb(href='#'): img(src='i/apartments/ap_1073-1.jpg')
                                                li: a.object_img.objectThumb(href='#'): img(src='i/apartments/ap_1073-2.jpg')
                                                li: a.object_img.objectThumb(href='#'): img(src='i/apartments/ap_1073-3.jpg')
                                            
                                            .object_caption Апартаменты AL 1073 townhouse
                                                
                                            .object_tip На пляже, 7 минут езды до центра Ларнаки.

                                            +object_price() 
                                                //-._daily 21 € в день с человека
                                                ._weekly от 875 € в неделю
                                
                                            .object_description: p На первом этаже находится открытого плана гостиная , обеденная зона и кухня. В гостиной мягкий уголок, здесь же есть телевизор, раздвижные двери ведут на террасу.  
                                                .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее
                                                
                                            dl.object_features
                                                dt Спален
                                                dd 3
                                                
                                                dt Ванных
                                                dd 2
                                                
                                                dt Максимальное количество человек
                                                dd 6
                                                
                                                dt Ближайший аэропорт
                                                dd Ларнака (15 км)
                                                
                    #booking_section.factoid_section.factoidSection
                        .text_img.factoidImg
                            img(src='i/factoid/Hotel-Saint-Barth-Isle-de-France.jpg')

                        .section_inner
                            .factoid_title.text_upper раннее бронирование 
                            .factoid_slider_holder
                                .factoid_slider.factoidSlider
                                    +loop_while(1)
                                        .slide
                                            .factoid_slider_caption.text_upper Доступность лучших объектов для аренды и удобных авиарейсов. 
                                            p Ведь в качественные виллы и апартаменты приезжают туристы со всего мира, в частности из стран, где широко распространено раннее бронирование, поэтому большая вероятность того, что лучшие места будут раскуплены заранее.
                                            
                                        .slide
                                            .factoid_slider_caption.text_upper Экономия. 
                                            p Как правило, скидки при раннем бронировании составляют 10-30%.
                                            
                                        .slide
                                            //-.factoid_slider_caption.text_upper Экономия. 
                                            p Раннее бронирование выгодно еще и тем, что воспользовавшись им, Вы можете не переживать о колебаниях курсов валют (а в сезон курс как правило растет). После того как Вы оплатили тур, любые изменения на валютном рынке на стоимость путевки уже не влияют.
                                            
                                        .slide
                                            //-.factoid_slider_caption.text_upper Экономия. 
                                            p Отсутствие суеты, связанной с подготовкой документов, когда времени в обрез и перед отпуском нужно «закрыть» важные личные и рабочие вопросы.
                                            
                                        .slide
                                            .factoid_slider_caption.text_upper Наслаждение от планирования и предвкушение будущего отдыха. 
                                            p Когда мы знаем, что впереди нас ждут релакс и море впечатлений - работается совсем по-другому - более вдохновенно и легко.

                                .factoid_slider_controls
                                    a.btn_v5.green_btn_2.factoid_btn.requestBtn(href='#') Узнать больше
                    
                    #services_section.services.section
                        .section_inner
                            h2.section_title
                                span.clr_green ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ ДЛЯ ВАШЕГО ОТДЫХА
                            .serviceSlider.object_list
                                .slide
                                    .service_unit
                                        .service_img.BSimg
                                            img(src='i/service_1.jpg')
                                            
                                        .service_caption 
                                            span Аренда авто, яхт
                                            
                                        .service_info
                                            p На острове вы найдете много интересных мест и  сможете получить  массу удоволь-ствия, путешествуя по дорогам Кипра. Кроме того, если вы хотите провести день в море в кругу семьи и друзей, то наша яхта в вашем распоряжении. Вам не нужно быть опытным моряком и знать тонкости устройства яхты. Наш опытный шкипер научит вас искусству и мастерству управления яхтой и поможет вам справится с морем.
                                            .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее...
                                            
                                .slide
                                    .service_unit
                                        .service_img.BSimg
                                            img(src='i/service_2.jpg')
                                            
                                        .service_caption 
                                            span Организация экскурсий и развлекательных программ
                                            
                                        .service_info
                                            p Мы предлагаем Вам неформальное знакомство с островом Кипр. Вы увидите то, что недоступно на автобусной экскурсии. Вы увидите Кипр не из окна туристического автобуса. И поверьте, когда Вы в следующий раз прилетите на Кипр, а  Вы обязательно вернетесь, Вам непременно захочется снова отправиться в увлекательное путешествие, которое называется экскурсия.
                                            .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее...

                                .slide
                                    .service_unit
                                        .service_img.BSimg
                                            img(src='i/service_3.jpg')
                                            
                                        .service_caption 
                                            span Дайвинг, гольф, рыбалка, байкинг
                                            
                                        .service_info
                                            p Проведите незабываемый день, наслаждаясь среди-земноморским солнцем и ласковым морем. Удача улыбнется вам, потому что наш опытный шкипер покажет вам место, где вы наверняка сможете поймать тунца, рыбу-меч или даже осьминога.
                                            .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее...

                                .slide
                                    .service_unit
                                        .service_img.BSimg
                                            img(src='i/service_4.jpg')
                                            
                                        .service_caption 
                                            span Свадьба на Кипре
                                            
                                        .service_info
                                            p Кипр – это удивительный остров в Средиземном море, среди лазурных вод, где все дышит романтикой и любовью.
                                            
                                            p Любовь - это дар, а свадьба - ритуал соединения сердец на всю жизнь. Если Вы решили пожениться, то приглашаем Вас на остров Вашей сказки! Будет Ваш день наполнен шумным праздником или это будет таинство только для двоих, решать Вам, а мы воплотим все Ваши мечты в жизнь.
                                            
                                            .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее...
                                            
                                .slide
                                    .service_unit
                                        .service_img.BSimg
                                            img(src='i/service_5.jpg')
                                            
                                        .service_caption 
                                            span Повар
                                        .service_info
                                            p Попробовать изыски местной кухни (а на Кипре это необыкновенное сочетание греческой, турецкой, средиземноморской) можно в любом ресторанчике или же приготовить самостоятельно из свежайших продуктов на кухне арендованной виллы. Но если Вы предпочитаете проводить досуг по-иному — есть замечательная возможность воспользоваться услугами профессионального квалифицированного повара. А для особого случая — свадьба, день рождения и т. д. — к Вашим услугам кейтеринговый сервис.

                                            .object_description_link: a.clr_green.requestBtn(href='#'): b Подробнее...

                    //-.section
                        .text_block
                            .text_img.BSimg
                                img(src='i/bg/text_bg-4.jpg')
                                
                            .clr_white.service_box
                                h2.how_it_works_caption.section_caption
                                    span.caption_text Почему аренда вилл (аппартаментов) привлекательнее
                                
                                div В лексиконе опытных туристов уже давно заняло свое почетное место такое словосочетание как «раннее бронирование». И этому есть весомые приятные причины. Вот всего лишь несколько преимуществ раннего бронирования туров и отдыха в арендованных виллах и апартаментах:
                                
                                .caption_description
                                    ul
                                        li Экономия. Как правило, скидки при раннем бронировании составляют 10-30%.
                                        li Доступность лучших объектов для аренды и удобных авиарейсов. Ведь в качественные виллы и апартаменты приезжают туристы со всего мира, в частности из стран, где широко распространено раннее бронирование, поэтому большая вероятность того, что лучшие места будут раскуплены заранее.
                                        li Раннее бронирование выгодно еще и тем, что воспользовавшись им, Вы можете не переживать о колебаниях курсов валют (а в сезон курс как правило растет). После того как Вы оплатили тур, любые изменения на валютном рынке на стоимость путевки уже не влияют.
                                        li Отсутствие суеты, связанной с подготовкой документов, когда времени в обрез и перед отпуском нужно «закрыть» важные личные и рабочие вопросы.
                                        li Наслаждение от планирования и предвкушение будущего отдыха. Когда мы знаем, что впереди нас ждут релакс и море впечатлений - работается совсем по-другому - более вдохновенно и легко.

                    .section.promo
                        .promo_slider_holder
                            .promo_slider.promoSlider_.img_gray_over
                                .slide.BSimg
                                    img(src='i/factoid/Luxury-Travel-Trends-to-Look-Out-For.jpg')
                                //-.slide
                                    img(src='i/promo/promo_2.jpg')
                                //-.slide
                                    img(src='i/promo/promo_3.jpg')
                                //-.slide
                                    img(src='i/promo/promo_4.jpg')
                                //-.slide
                                    img(src='i/promo/promo_4.jpg')
                            .abs_holder: .gl_table: .gl_table_cell
                                .section_inner
                                    .hero_unit
                                        .hero_slogan
                                            - if (production)
                                                +get_temp()
                                            - else
                                                span 20⁰С
                                            
                                        .hero_controls
                                            .hero_title_holder
                                                .hero_sub_title: span ВЫГОДНЫЙ ОТДЫХ НА КИПРЕ
                                                .hero_tip
                                                    p для бесплатной консультации по выбору отдыха
                                                
                                            .hero_btn_holder
                                                a.green_btn_2.requestBtn.btn_v4.hero_btn(href='#') Оставьте заявку
                                                

                                    //-.slide_hero
                                        span.clr_green ВЫГОДНЫЙ ОТДЫХ 
                                        span  НА КИПРЕ
    
                                    //-.slide_info_holder
                                        .slide_info
                                            .slide_year.clr_green 2017
                                            .slide_features
                                                p Раннее бронирование сезона <br> Весна/Лето'17 по лучшим ценам
    
                                    //-.slide_btn
                                        a.send_order.green_btn_2.requestBtn(href='#')
                                            span.send_order_icon
                                                img(src='i/order_icon.png')
                                            p ОСТАВЬТЕ ЗАЯВКУ
                                            div на бесплатную консультацию по выбору отдыха

                    .section.benefits
                        .section_inner
                            h2.section_title
                                span.clr_green ПРЕИМУЩЕСТВА КОМПАНИИ CYPROGROUP
                                
                            ul.benefits_list
                                li 
                                    .benefit_unit 
                                        .benefit_img
                                            img(src='i/speedometer.svg')
                                        .benefit_caption СКОРОСТЬ
                                        p Заявка на бронирование подтверждается в течении 5 минут – никакого дополнительного ожидания, длительной переписки и разговоров
                                        
                                li 
                                    .benefit_unit 
                                        .benefit_img
                                            img(src='i/key-chain.svg')
                                        .benefit_caption МНОГОГРАННОСТЬ
                                        p Компания CyproGroup предлагает в аренду более 230 объектов недвижимости на лучших курортах Кипра 
                                        
                                li 
                                    .benefit_unit 
                                        .benefit_img
                                            img(src='i/family.svg')
                                        .benefit_caption ДОВЕРИЕ
                                        p Ежедневно, выбирая наш сервис, бронируются десятки вилл и домов. Свой отдых и комфорт нам доверяют тысячи путешественников
                                        
                                //-li 
                                    .benefit_unit 
                                        .benefit_img
                                            img(src='i/cart.svg')
                                        .benefit_caption КОМПЛЕКСНОСТЬ
                                        p Ассортимент апартаментов на любой вкус. Более 230 неповторимых вариантов
                                        
                    //-+contacts_section(true)
                        
                    +new_footer()
                        
                    //-.footer
                        .section_inner.clearfix
                            .logo_block
                                a.logo(href='#')
                                    img(src='i/logo.png')
                                    span Традиции и надежность

                            ul.main_menu
                                li.main_m_item
                                    dl.contact_phones
                                        dt Украина:
                                        dd +38 (097) 17 11 844
                                        dt &nbsp;
                                        dd +38 (050) 62 21 981

                                        dt Кипр:
                                        dd +35 (799) 69 55 80
                                        
                                        dt._email Почта:
                                        dd 
                                            a(href='mailto:info@cyprogroup.club') info@cyprogroup.club
                                li.main_m_item
                                    a.callback_btn.btn_v1.btn_blue_transp.questionBtn(href='#') Задать вопрос
                        
            //-+weather()

            //-+exchange()

        .overlay

        +popup()

    +nbl("'js/index.m.js', ")
    
    //-+script_js("['js/backstretch.js', 'vendor/fancyBox-master/dist/jquery.fancybox.min.js', 'js/slick.js']", "['js/script.m.js', 'js/index.m.js']")
        