mixin dev_head(page_title)
    head
        title=page_title
        | 
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        
        //-style
            include ../styles/main_global.css
        link(rel='stylesheet', href='styles/main_global.css', media='all')
        //-link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        //-link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        //-script(src='js/jquery1.10.js')
        //-script(src='js/jquery-ui-1.11.4.js')
        //-script(src='js/jquery.validationEngine.js')
        //-script(src='js/jquery.validationEngine-ru.js')
        //-script(src='js/script.js')

mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block

mixin header()
    div.header
        .section_inner.clearfix
            .logo_block
                a.logo(href='index.html')
                    img(src='i/logo.png')
                    span Традиции и надежность

            ul.main_menu
                li.main_m_item
                    ul.nav_menu
                        li: a.nav_link(href='about.html') О нас
                li.main_m_item
                    dl.contact_phones
                        dt Украина:
                        dd +38 (097) 17 11 844
                        dt Кипр:
                        dd +35 799 69 55 80
                li.main_m_item
                    a.callback_btn.btn_v1.btn_blue_transp.callbackBtn(href='#') Заказать звонок

        .hero_block
            .section_inner
                .hero_text Отдых на Кипре в эксклюзивных виллах всего за 3 часа полета из Киева
mixin popup()
    #callback_popup.popup(style='display:none;')
        form.validateMe(action='#')
            p Введите ваше имя и телефон и получите  <br>  развернутую консультацию специалиста 
            .form_cell.f_cell_v1
                input.f_input_v1(placeholder='Введите Ваше имя' class='validate[required]')
            .form_cell.f_cell_v1
                input.f_input_v1(placeholder='Введите Ваш телефон' class='validate[required]')
            .form_cell.f_cell_v1
                input.f_input_v1(placeholder='Введите Ваш e-mail')

            .form_cell.f_cell_v1
                button.btn_v2.green_btn.subscribe_btn Получить консультацию специалиста

mixin scripts()
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin,cyrillic', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,cyrillic', rel='stylesheet')
    link(rel='stylesheet', href='styles/styles.css', media='all')
    script(src='js/min/all.js')

    //-script(src='js/jquery1.10.js')
    //-script(src='js/jquery-ui-1.11.4.js')
    //-script(src='js/jquery.validationEngine.js')
    //-script(src='js/jquery.validationEngine-ru.js')
    //-script(src='js/script.js')
        
        